$white: #fff;
$blue: #0288d1;
$lightblue: #03a9f4;
$shadowblue: #0288d1;
$grayl: #eeeeee;
$gray: 	#808080;
$graym: #c9c7c7cc;
$lightgray: #fffdfdc0;
$orange: #ffc107;
$red: #ff0000;
$turquoise: #26c6da; 